.outer-block {
  display: flex;
  gap: 10px;
  margin: 2rem;
  padding: 0.785rem;
  background-color: #ffffffb4;
  width: fit-content;
}

.inner-block {
  background-color: rgb(31, 31, 31);
  padding: 0.785rem;
  border-radius: 10px;
  min-width: 3rem;
  height: 3rem;
  font-size: 1.275rem;
}

.inner-block.empty {
  background-color: #211e1e87;
  color: transparent; /* Hide the text for empty blocks */
}

.op-blocks {
  background-color: rgb(31, 31, 31);
  padding: 0.785rem;
  border-radius: 10px;
  min-width: 5rem;
  height: 3rem;
  font-size: 1.275rem;
}

.op-blocks-section {
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
}

.linked-list-block {
  width: 5rem;
  height: 3rem;
  background-color: rgb(59, 89, 208);
  border: 1px solid white;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem;
}

.linked-list-outer-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
